# OS-specific files
.DS_Store

# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Package files
*.egg-info/
dist/
build/

# Logs and temporary files
*.log
*.tmp

# Data directory (contains generated data)
data/
